*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
body{
    font-family: "Oxanium", cursive;
    background-color: black;
    color: #fff;
}
body::before{
    content:"";
    background-image: url(./src/imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.cabecalho{
    display: flex;
    justify-content: center;
    
}
.selecao-de-personagens{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 107px);
    gap:30px; ;
    
}
.selecao-de-personagens .lista-de-personagens{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    margin-top: 20px;
   
    
}
.selecao-de-personagens .personagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    gap: 25px;
    min-height: 450px;
}
.selecao-de-personagens .personagens .titulo{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom:1px solid #1BB899 ;
    width: 100%;
    text-align: center;
}
.lista-de-personagens .personagem img{
    width: 100%;
    height: 100%;
    cursor: pointer;
   
    
}
.lista-de-personagens .personagem.selecionado{
-webkit-box-shadow: 1px 1px 26px 9px rgba(27,184,153,0.49);
-moz-box-shadow: 1px 1px 26px 9px rgba(27,184,153,0.49);
box-shadow: 1px 1px 26px 9px rgba(27,184,153,0.49);

}
.personagem-selecionado {
    text-align: center;
    height: 500px;
    gap: 10px;
    border: 1px solid #1BB899;
    border-radius: 10px;
    background-color: rgba(34, 32, 32, 0.593);

}
.personagem-selecionado .personagem-grande{
    width: 350px;
    height: 350px;
}
.personagem-selecionado .nome-personagem{
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1BB899;
    
 
}
.personagem-selecionado .descricao-personagem{
    font-size: 15px;
    line-height:22px;
    text-align: center;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    width: 390px ;
}